* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    position: relative;
    background-image: url("../grafiki/index/tlo.jpg");
    background-size: 100%;
    background-position-y: bottom;
    background-attachment: fixed;
    min-height: 100vh;
}

#wrapper {
    max-width: 1000px;
    margin: 0 auto;
    padding-bottom: 60px;

}

header img {
    width: 100%;

}

ol {
    list-style-type:none;
    padding:0;
    margin:0;
    font-size:18px;
    height:2em;
    line-height:2em;
    text-align:center;
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    background-color:white;
}

ol > li {
    float:left;
    background-color:midnightblue;
    width:25%;
    margin-left:1px;
    height:2em;
}

ol a {
    display:block;
    color:white;
    text-decoration:none;
    padding:0 5px;
}


ol > li > a:hover {
    color:black;
}

ol > li:hover {
    background-color: dodgerblue;
}


ol > li > ul {
    list-style-type:none;
    padding:0;
    margin:0;
    display:none;
    position: relative;
}

ol > li:first-child {
    margin-left:0;
}

ol > li > ul > li > a {
    border-top:1px solid #FFF;
}

ol > li > ul > li {
    background-color:midnightblue;
}

ol > li > ul > li:hover {
    background-color: dodgerblue;
}

ol > li > ul > li:hover a {
    color:black;
}

ol > li:hover > ul {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    width: auto;

}

ol > li:hover > a {
    color:black;
}

article {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0.4);
    margin-bottom: 15px;
    padding: 0 20px 20px;
}

h1 {
    line-height: 80px;
    text-align: center;
    font-size: 36px;
    background: rgba(255, 255, 255, 0.4);
}

h2 {
    font-size: 20px;
    line-height: 50px;
    text-align: center;
    background: rgba(255, 255, 255, 0.4);
}

h3 {
    opacity: 0;
}

.kontakt {
    margin: 20px;
}
fieldset {
    padding: 10px;
}

.kontakt p {
    margin: 10px 0;
}


legend {
    text-align: center;
    font-size: 18px;
}

#przyciski {
    display: flex;
    display: -ms-flex;
    display: -webkit-flex;
}

#przyciski .przycisk {
    flex-basis: 50%;
    margin: 10px 10%;
    background-color: midnightblue;
    color: white;
    height: 40px;
    font-size: 15px;
}

#przyciski .przycisk:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

#clear {
}

#graf_index_art1 {

    padding-bottom: 20px;
    align-items: center;

}

.galeria {
    display: flex;
    display: -ms-flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
}

video {
    width: 40%;
}



.fotki {
    width: 45%;
    height: 100%;
    margin: 10px;
}

.fotki:hover {
    transform: scale(1.3);
    transition: 1s;
}

table * {
    border-style: outset;
    border-color: midnightblue;

}

table {
    margin-top: 30px;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

tr {
    height: 50px;
}

tr.wartosci_tabeli:hover{
    background-color: gray;
}

td:hover {
    background-color: black;
    color: white;
}

th {
    background-color: midnightblue;
    color: white;
}

tr:nth-child(odd){
    background-color: dodgerblue;
}

/* Dałem tutaj split, bo nie pasuje mi do nawigacji totalnie, stad szybciej go pozniej usune */

#split {
    list-style-type: none;
    margin: 0 15% 15px;
    height: 88px;
    display: flex;
    display: -ms-flex;
}

#split li {

    margin-left: 15px;
}

#split li:first-child {
    margin-left: 0;
}

#split li a {
    display: flex;
    display: -ms-flex;
    width: 88px;
    height: 88px;
    background-image: url(../grafiki/index/split.png);
}

#split #granatowy a {}
#split #czarny a { background-position:0 176px; }
#split #niebieski a { background-position:0 88px; }

#split #granatowy a:hover { background-position:88px 0; }
#split #czarny a:hover { background-position:88px 176px; }
#split #niebieski a:hover { background-position:88px 88px; }
/*------------------------------------------------------------------------------------------- */

@keyframes animacja {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#muzyka {
    width: 100%;
    padding: 15px;
    height: 127.4px;
    background-color: dodgerblue;
    text-align: center;
    color: white;
    animation-name: animacja;
    animation-duration: 2s;
    animation-fill-mode: both;
}

audio {
    margin-bottom: 20px;
    width: 100%;
    animation-name: animacja;
    animation-duration: 2s;
    animation-delay: 1s;
    animation-fill-mode: both;
}

#muzyka  a {
    color: white;
}

#video {
    width: 100%;
    background-color: midnightblue;
}

video {
    background-color: white;
    margin-left: 30%;
}

footer {
    position: absolute;
    height: 40px;
    background-color: midnightblue;
    color: white;
    line-height: 40px;
    text-align: center;
    width: 100%;
    max-width: 1000px;
    bottom: 10px;
}

@media(max-width: 500px){
    .fotki {
        width: 80%;
        margin: 10%;
    }

    h1 {
        font-size: 24px;
    }

    table {
        font-size: 12px;
    }

    fieldset {
        font-size: 12px;
    }
    footer {
        font-size: 10px;
    }

    ol {
        font-size: 14px;
    }

    #split{
        margin: 10px;
    }

}

span.err {
    color: red;
    font-weight: bold;
    padding-left: 5px;
}